.indexSection {
    composes: row-14 from global;
}

.letter {
    grid-column: span 2;
    line-height: 1;
}

.contents {
    grid-column: span 12;
    margin-bottom: 40px;
}

.stationsList {
    list-style: none;
    column-count: 3;
    column-gap: 30px;
    margin: 0;
    padding: 0;
}

.stationItem {
    margin-bottom: 6px;
}