:root {
  --bg-color: #F6F5F3;

  --color-text: #0F2E4D;
  --color-text-secondary: #4B5B6A;
  --color-text-dimmed: #9B9B9B;
  --color-text-error: #D51803;
  --color-focus: #BFDEFF;
  --color-link:  #37B9F9;
  --color-link-underline: #9BDCFC;
  --color-link-hover: #FA5B21;
  --color-link-hover-underline: #FA5B217F;
  --color-link-visited: #A8199A;
  --color-link-visited-underline: #A8199A7F;
  --color-border: #dcd9ce;
  --color-warning: #f3a312;
  --color-warning-bg: #fff8dc;
  --color-warning-hover: #ffefd2;
  --color-logo: var(--color-text);
  --color-status-ok: limegreen;
  --color-status-delayed: orange;
  --color-status-canceled: crimson;
  --color-board-hover: lightyellow;
  --color-board: var(--color-text);
  --color-popup: var(--color-text);
  --color-input: var(--color-text);

  --font-size-base: 1.6rem;
  --font-size-small: 1.4rem;
  --font-size-h1: 4.8rem;
  --font-size-h2: 3.6rem;
  --font-size-h3: 2.8rem;
  
  --btn-primary-color: white;
  --btn-primary-bg: #228C0B;
  --btn-primary-bg-hover: #186807;

  --btn-link-color: var(--color-text);
  --btn-link-bg: transparent;
  --btn-link-border: #dcd9ce;

  --input-bg: #eae6dc;
  --input-focus-bg: #fff;
  --input-focus-border: #2492e8;
  --input-focus-shadow: 0 0 0 3px var(--color-focus);
  --input-invalid-bg: #FEDEDB;

  --modal-border: #979797;
  --modal-bg: var(--bg-color);
  --modal-backdrop: rgba(0,0,0,.3);

  --nav-hover: #e4e1da;
  --nav-btn-hover: #FA5B21;

  --time-popup-open: 0;
  --board-width: 750px;
}

html {
  font-size: 62.5%;
  height: 100%;
} 

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: var(--font-size-base);
  color: var(--color-text);
  line-height: 1.4;
  background: var(--bg-color);
}

body,
input,
button {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: var(--color-link);
  text-decoration: none;
  border-bottom: 1px solid var(--color-link-underline);
}

a:hover {
  color: var(--color-link-hover);
  border-color: var(--color-link-hover-underline);
}

a:visited {
  color: var(--color-link-visited);
  border-color: var(--color-link-visited-underline);
}

a:focus,
button:focus {
  outline: none;
  box-shadow: var(--input-focus-shadow);
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.4;
  color: inherit;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

p {
  margin: 0 0 15px;
}

:global h1,
:global .h1 {
  font-size: var(--font-size-h1);
  font-weight: 400;
  margin: 0 0 20px;
}

:global h2,
:global .h2 {
  font-size: var(--font-size-h2);
  font-weight: 400;
  margin: 0 0 20px;
}

:global h3,
:global .h3 {
  font-size: var(--font-size-h3);
  font-weight: 400;
  margin: 0 0 20px;
}

:global #root {
  height: 100%;
  background: var(--bg-color);
}

:global .container,
:global .main {
  padding-left: 65px;
  padding-right: 65px;
}

:global .main {
  grid-row: 2;
  padding-top: 10px;
  padding-bottom: 20px;
  color: var(--color-text);
}

:global .row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
}

:global .row-14 {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-gap: 30px;
}

:global .hidden {
  display: none;
}

:global .btn {
  display: inline-block;
  padding: 10px 16px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: .5px;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: var(--font-size-base);
  color: var(--color-text);
}

:global .btn:disabled {
  cursor: default;
}

:global .btn-primary,
:global .btn-primary.btn {
  background: var(--btn-primary-bg);
  color: var(--btn-primary-color);
}

:global .btn-primary:hover:not(:disabled) {
  background: var(--btn-primary-bg-hover);
}

:global .btn-link,
:global .btn-link.btn {
  background: var(--btn-link-bg);
  color: var(--btn-link-color);
}

:global .btn-link:hover,
:global .btn-link.btn:hover {
  border-color: var(--btn-link-border);
  color: var(--nav-btn-hover);
}

:global .btn-link:disabled,
:global .btn-link.btn:disabled {
  color: var(--color-text-dimmed);
  border-color: transparent;
}

:global .btn-primary:disabled,
:global .btn-primary.btn:disabled {
  color: #ffffff82;
}

:global .input {
  font-size: var(--font-size-base);
  padding: 0;
  display: block;
  width: 100%;
  padding: 6px 5px;
  line-height: 1.4;
  color: var(--color-input);
  background-color: var(--input-bg);
  background-clip: padding-box;
  border: none;
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

:global .input:focus {
  color: var(--color-input);
  background-color: var(--input-focus-bg);
  border-color: var(--input-focus-border);
  outline: 0;
  box-shadow: var(--input-focus-shadow);
}

:global .label {
  display: block;
  margin-bottom: 12px;
}

:global .form-group {
  margin-bottom: 28px;
}

:global .form-error,
:global .form-hint {
  font-size: var(--font-size-small);
  color: var(--color-text-dimmed);
  font-style: italic;
  margin: 10px 0;
  line-height: 1.3;
}

:global .form-error {
  color: var(--color-text-error); 
}

:global .form-error::first-letter {
  text-transform: uppercase;
}

:global .has-errors .input:not(:focus),
:global .has-errors .input-group:not(:focus-within) {
  background: var(--input-invalid-bg);
}

:global .input-group {
  display: flex;
  background-color: var(--input-bg);
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

:global .input-group-prepend {
  padding: 6px 0 6px 5px;
  line-height: 1.4;
  color: var(--color-text-dimmed);
}

:global .input-group:focus-within{
  background-color: var(--input-focus-bg);
  border-color: var(--input-focus-border);
  outline: 0;
  box-shadow: var(--input-focus-shadow);
}

:global .input-group .input:focus {
  background-color: var(--input-focus-bg);
  border-color: none;
  box-shadow: none;
}

:global .input-group .input {
  padding-left: 0;
}

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890%E2%80%98%3F%E2%80%99%E2%80%9C%21%E2%80%9D%28%25%29%5B%23%5D%7B%40%7D%2F%26%5C%3C-%2B%C3%B7%C3%97%3D%3E%C2%AE%C2%A9%24%E2%82%AC%C2%A3%3A%3B%2C.*%E2%86%92%E2%86%90%E2%86%BB');
