.navDropDown {
    position: relative;
}

.navItem {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--color-text);
    border: none;
}

.navItem:hover {
    color: var(--color-text);
    background: var(--nav-hover);
}

.navItem:visited {
    color: var(--color-text);
  }

.toggle {
    position: relative;
}

.open .toggle {
    border-color: var(--btn-link-border);
}

.open .toggle::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 2px;
    background: var(--bg-color);
    left: 0;
    right: 0;
    z-index: 2;
}

.list {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid var(--btn-link-border);
    min-width: 330px;
    background: var(--bg-color);
    padding: 10px 0;
    z-index: 1;
}

