.stationInput {
    --station-input-color: var(--color-text);
    --station-input-border: var(--color-text);
    --station-input-focus: var(--input-focus-border);
    --station-input-highlight: var(--nav-hover);
    --station-input-placeholder: var(--color-text-dimmed);
    flex: 1;
}

.stationInput.dark {
    --station-input-color: white;
    --station-input-border: white;
    --station-input-focus: #58b6ff;
    --station-input-highlight: #464646;
    --station-input-placeholder: #6d6d6d;
}

.inputWrapper {
    flex: 1;
    min-width: 0;
    width: 100%;
}

.input {
    width: 100%;
    font-size: 4rem;
    line-height: 1;
    outline: none;
    color: var(--station-input-color);
    background-color: transparent;
    border: 0;
    padding: 10px 10px 10px 0;
    border-radius: 0;
    border-bottom: 2px solid var(--station-input-border);
}

.input::placeholder {
    color: var(--station-input-placeholder);
}

.input:focus {
    border-color: var(--station-input-focus);
}

.suggestion {
    color: var(--station-input-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    cursor: pointer;
}

.suggestionActive {
    background: var(--station-input-highlight);
}
