.form {
    --search-form-btn: var(--color-text);
    --search-form-btn-hover: var(--color-link-hover);
    font-size: 4rem;
    display: flex;
    align-items: flex-start;
}

.form.dark {
    --search-form-btn: white;
    --search-form-btn-hover: aqua;
}

.icon {
    display: block;
}

.arrowBtn {
    composes: btn from global;
    padding: 16px 20px;
    font-size: 4rem;
    font-weight: 400;
    background: none;
    vertical-align: middle;
    color: var(--search-form-btn);
}

.arrowBtn:hover {
    line-height: 0.5;
    color: var(--search-form-btn-hover);
}

.arrowBtn:hover .icon {
    display: none;
}

.arrowBtn:hover::after {
    content: "←";
    display: block;
}

.arrowBtn:hover::before {
    content: "→";
    display: block;
}

.submit {
    composes: btn btn-primary from global;
    margin-left: 20px;
    font-size: 4rem;
    font-weight: 400;
    padding: 16px 20px;
}