.footer {
    composes: row container from global;
    grid-row: 3;
    padding-top: 20px;
    font-size: var(--font-size-small);
    border-top: 1px solid var(--color-border);
}

.poweredBy {
    grid-column: span 3;
}

.poweredByLink {
    border-bottom: none;
}

.creatorCopy {
    grid-column: span 6;
}

.links {
    grid-column: span 3;
    text-align: right;
}

.links a {
    margin-left: 16px;
}

.logo {
    width: 200px;
}

.creatorCopy p {
    margin: 0;
}