.notActivated {
    composes: container from global;
    background: var(--color-warning-bg);
    color:  var(--color-warning);
    border-bottom: 1px solid var(--color-warning);
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.notActivated p {
    margin: 0;
    font-size: var(--font-size-small);
}

.notActivated:hover {
    background: var(--color-warning-hover);
}