.boardHeader {
    line-height: 1;
    margin-bottom: 30px;
    position: relative;
    color: var(--color-board);
}

.refreshBtn {
    composes: btn-link btn from global;
    line-height: 2.2rem;
    position: absolute;
    bottom: -12px;
    right: 6px;
    padding: 6px 16px;
    color: var(--color-board);
}

.refreshIcon {
    font-size: 2.2rem;
}

.pointer {
    display: inline-block;
    width: 27px;
    height: 1px;
    border-top: 1px dotted var(--color-text-secondary);
    margin: 0 1ch;
    vertical-align: middle;
}

