.body {
    --bg-color: black;

    --color-text: #E0E1E1;
    --color-text-secondary: #4B5B6A;
    --color-text-dimmed: #9B9B9B;
    --color-text-error: #D51803;
    --color-focus: #BFDEFF;
    --color-link:  #9df;
    --color-link-underline: #9BDCFC;
    --color-link-hover: #FA5B21;
    --color-link-hover-underline: #FA5B217F;
    --color-link-visited: #a801f7;
    --color-link-visited-underline: #a801f77F;
    --color-border: #595959;
    --color-warning: #f3a312;
    --color-warning-bg: #fff8dc;
    --color-warning-hover: #ffefd2;
    --color-input: #0F2E4D;

    --color-logo: #fb0;
    --color-board: #fb0;

    --color-status-ok: limegreen;
    --color-status-delayed: #ff6f03;
    --color-status-canceled: crimson;
    --color-board-hover: #292929;

    --btn-link-color: #E0E1E1;
    --btn-link-border: #595959;

    --nav-hover: #292929;

    --input-focus-shadow: rgba(141, 185, 232, 1) 0px 0px 0px 3px;

    background: var(--bg-color);
}