.nav {
    display: flex;
    margin: -1px 0 0 -16px;
}

.navBtn {
    composes: btn-link btn from global;
    margin-right: 8px;
    height: 38px;
}

.navBtn:hover {
    color: var(--nav-btn-hover);
}

.navBtn:hover .icon {
    fill: var(--nav-btn-hover);
}

.navBtn:hover .counter {
    background: var(--nav-btn-hover);
}

.btnText {
    vertical-align: baseline;
}

.icon {
    fill: var(--btn-link-color);
    margin-right: 9px;
    vertical-align: top;
}

.iconBurger {
    composes: icon;
    margin-top: 1px;
}

.iconSave {
    composes: icon;
}

.iconSearch {
    composes: icon;
}

.counter {
    font-size: 1rem;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: white;
    background: red;
    text-align: center;
    line-height: 1;
    padding-top: 4px;
    margin-left: 8px;
    vertical-align: top;
    margin-top: -1px;
}