.addRoute {
    display: grid;
    padding: 40px;
    background: none;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: translateY(-30%);
    grid-template-rows: 107px auto 66px;
    min-height: 100%;
}

.modalOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, .25);
}

.header {
    grid-row: 1;
}

.form {
    grid-row: 2;
}

.actions {
    grid-row: 3;
}

.isOpen {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.heading {
    font-size: 48px;
    margin: 0 0 40px;
    font-weight: 100;
}

.form {
    width: 100%;
    flex: 0px 1 1;
    max-width: 1280px;
    display: flex;
    font-size: 40px;
}

.icon {
    display: block;
    padding: 10px 20px;
}

.closeButton {
    position: absolute;
    top: 50px;
    right: 40px;
    cursor: pointer;
    text-decoration: underline;
}

.closeButton:hover {
    color: #ccc;
}

.submit {
    composes: btn btn-primary from global;
    flex: 66px 0 0;
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 400;
    padding: 16px 20px;
}

.submit:hover:not(:disabled) {
    background: #00e472;
}

.submit:active {
    line-height: 33px;
    box-shadow: none;
}

.submit:focus {
    outline: none;
    border: none;
}

.submit:disabled {
    color: #3a3a3a57;
}