.header {
    composes: row container from global;
    padding-top: 60px;
    padding-bottom: 20px;
    grid-row: 1;
}

.logo {
    grid-column: span 3;
}

.logo svg {
    fill: var(--color-logo);
}

.navigation {
    grid-column: span 9;
}

.slogan {
    padding-top: 4px;
}

.homeLink {
    border: none;
    display: inline-block;
}