.heading {
    grid-column: span 12;
}

.content {
    grid-column: span 8;
}

.sideBar {
    grid-column: span 4;
}

.facilities {
    composes: row from global;
    margin-bottom: 30px;
}

.facilitiesCol {
    grid-column: span 3;
    line-height: 1;
}

.iconGreen {
    fill: green;
    margin-right: 5px;
}

.iconRed {
    fill: red;
    margin-right: 5px;
}

.filterButton {
    composes: btn btn-primary from global;
}

.hoursRow {
    margin: 0 0 15px;
}

.dayType {
    width: 125px;
    display: inline-block;
    margin: 0;
}

.hours {
    display: inline-block;
    margin: 0;
}