.formGroup {
    width: 370px;
}

.modalOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    overflow: auto;
    background-color: var(--modal-backdrop);
}

.modal {
    width: 620px;
    padding: 30px 110px 45px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--modal-border);
    background: var(--modal-bg);
    outline: none;
    margin-bottom: 40px;
    box-shadow: 3px 3px 0 0 rgba(0,0,0,0.33);
    color: var(--color-popup);
}

.title {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 15px;
}

.subTitle {
    margin: 0 0 25px;
}

.existsFormGroup{
    composes: formGroup;
    background: cornsilk;
    padding: 2px 10px 12px;
}

.checkbox {
    margin: 3px 8px 0 0;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
    text-decoration: underline;
}
