.board {
    width: var(--board-width);
    position: relative;
}

.refreshBtn {
    composes: btn-link btn from global;
    line-height: 2.2rem;
    position: absolute;
    top: -58px;
    right: 6px;
    padding: 6px 16px;
    color: var(--color-board);
}

.refreshIcon {
    font-size: 2.2rem;
}
