.table {
    font-size: 18px;
    line-height: 1.3;
    margin-left: -10px;
    width: 100%;
    color: var(--color-board);
}

.table th {
    font-weight: 400;
    color: #b7b7b7;
    padding: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.dueTh {
    text-align: left;
}

.destTh {
    width: 250px;
    text-align: left;
}

.tableRow td > div {
    padding: 10px;
    min-height: 68px;
}

.tableRow:hover td > div {
    background: var(--color-board-hover);
}

.destinationCell {
    text-align: left;
}

.statusCell,
.platformCell,
.stopsCell,
.travelTimeCell,
.arrivalCell {
    text-align: center;
}

.statusOnTime {
    color: var(--color-status-ok);
}

.statusDelayed {
    color: var(--color-status-delayed);
}

.statusCanceled {
    color: var(--color-status-canceled);
}

.timeOld {
    text-decoration: line-through;
    display: block;
}

.timeNew {
    color: var(--color-status-delayed);
    display: block;
    text-decoration: none;
}
