.app {
    max-width: 1400px;
    margin: auto;
    display: grid;
    height: 100%;
    grid-template-rows: 120px auto 80px;
    transition: filter var(--time-popup-open);
}

:global(.ReactModal__Body--open) .app {
    filter: blur(4px);
}