{{define "activationEmail"}}
<p>Hey there,</p>

<p>Thank you for using our service.</p>

<p>Please activate your page by following the link below:</p>
<p><a traget="_blank" href="{{.ActivateLink}}">Activate page</a></p>

<p>Once you activated your page it will become availble at:</p>
<p><a traget="_blank" href="{{.PageURL}}">{{.PageURL}}</a></p>

<p>If you wish to delete your page click:</p>
<p><a traget="_blank" href="{{.RemoveLink}}">Remove page</a></p>
{{ end }}